@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Load Tailwind properly */
@import "tailwindcss";

/* Now Tailwind knows 'font-inter' */
body {
  font-family: "Inter", sans-serif;
}
.sidebar-item {
  @apply flex items-center gap-3 mx-2 px-3 py-2 cursor-pointer
         hover:bg-gray-100 transition-all duration-150 text-[14px] text-[#1C1C1C];
}

.sidebar-item-active {
  @apply text-[#1C1C1C] border-l-4 border-gray-900;
}

.black {
  color: #1c1c1c;
}
